.tableWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 500px;
}

.table thead {
  background-color: #f8f9fa;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.table th {
  font-weight: 600;
}

.table tbody tr:hover {
  background-color: #f1f5ff;
  transition: 0.2s;
}